<footer class="footer-principal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-1">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li class="footer-menu-item">> <a href="/home" class="footer-menu-item">Inicio</a></li>
          <li class="footer-menu-item">> <a href="/quienes-somos" class="footer-menu-item">Qui&eacute;nes somos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-2">
        <h5>Contacto</h5>
        <address>
          Goyena 1234<br>
          Caballito, Buenos Aires<br>
          ARGENTINA<br>
          <i class="fa fa-phone"></i>&nbsp;112345678<br>
          <i class="fa fa-envelope"></i><a href="mailto:quemepongo@gmail.com" class="footer-menu-item">&nbsp;quemepongo@gmail.com</a>
        </address>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-3">
        <h5>Seguinos</h5>
        <div class="nav navbar-nav" style="padding: 10px 10px;">
          <a class="btn btn-social-icon" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
          <a class="btn btn-social-icon" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
        </div>
      </div>
      <div class="col-xs-12 copyright">
        <p align="center">&copy; Copyright 2019 Qu&eacute; me pongo - Desarrollado por <a class="desarrollado-por" href="https://nuestrositio.com">Grupo22</a></p>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
