<footer class="footer-principal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-1">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li class="footer-menu-item">> <a href="/login" class="footer-menu-item">Inicio</a></li>
          <li class="footer-menu-item">> <a href="/guardarropas/prendas" class="footer-menu-item">Mis prendas</a></li>
          <li class="footer-menu-item">> <a href="/login" class="footer-menu-item">Contacto</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-2">
        <h5>Contacto</h5>
        <address>
          Goyena 1234<br>
          Caballito, Buenos Aires<br>
          ARGENTINA<br>
          <i class="fa fa-phone"></i>&nbsp;112345678<br>
          <i class="fa fa-envelope"></i><a href="mailto:quemepongo@gmail.com" class="footer-menu-item">&nbsp;quemepongo@gmail.com</a>
        </address>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 site-footer footer-column-3">
        <h5>Seguinos</h5>
        <div class="nav navbar-nav" style="padding: 10px 10px;">
          <a class="btn btn-social" href="https://www.facebook.com" target="_blank">Facebook</a>
          <a class="btn btn-social" href="https://www.instagram.com" target="_blank">Instagram</i></a>
        </div>
      </div>
      <div class="col-xs-12 copyright">
        <p align="center">&copy; Copyright 2019 Qu&eacute; me pongo - Desarrollado por <a class="desarrollado-por" href="https://nuestrositio.com">Grupo22</a></p>
      </div>
    </div>
  </div>
</footer>
