{{#partial "contenido"}}

<div>
    <h2 class="titulo-form">
        Nuevo evento
    </h2>
    <form class="form-alta offset-md-2 col-md-10" action="/eventos" method="post">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="input" class="form-control" id="titulo" name="titulo" required="required"
                   placeholder="Ingresa el título del evento">
        </div>
        <div class="form-group">
            <label for="lugar">Lugar</label>
            <select class="form-control" id="lugar" name="lugar" required="required">
                {{#each lugares}}
                    <option value="{{this}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control {{#if isFechaInvalida}}is-invalid{{/if}}" id="fecha" name="fecha" required="required">
                    {{#if isFechaInvalida}}
                        <div class="invalid-feedback"> La fecha ingresada es inv&aacute;lida</div>
                    {{/if}}
                </div>
                <div class="form-group col-md-2">
                    <label for="horario">Horario</label>
                    <input type="time" id="horario" class="form-control" name="horario" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label for="anticipacion">Avisarme</label>
                    <div class="form-inline">
                        <input type="number" min="1" max="120" class="form-control col-md-2 mr-3" id="anticipacion" name="anticipacion" required="required">
                        <span class="form-group">horas antes</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
        </div>
    </form>
</div>

{{/partial}}

{{>layout.hbs}}