{{#partial "contenido"}}

    <h2 class="titulo-pagina">
        Guardarropas: {{ nombre }}
    </h2>

    <div class="clearfix">
        <a class="btn btn-primary" href="/guardarropas/{{id}}/prendas/nueva">Crear prenda</a>
    </div>

    </div>
    {{#if prendas}}
        {{>prendas.hbs prendas}}
    {{else}}
        <div class="container" style="height: 250px;">
            <div class="alert alert-dark col-md-4 col-md-offset-4">
                El guardarropas est&aacute; vac&iacute;o
            </div>
        </div>
    {{/if}}

{{/partial}}

{{>layout.hbs}}