{{#partial "contenido"}}

<div>
    <h2>
        Usuario: {{ username }}
    </h2>

    {{#each guardarropas}}
    <div class="prenda">
        <div class="detalles">
            <a class="btn btn-info" href="/guardarropas/{{id}}/prendas">
                <h2>{{nombre}}</h2>
            </a>
        </div>
    </div>
    {{/each}}
</div>

{{/partial}}

{{>layout.hbs}}