<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1 translate="no">Qu&eacute; me pongo?</h1>
                <p class="slogan">Una aplicaci&oacute;n para maximizar la eficiencia al escoger c&oacute;mo vestirnos
                    para determinados eventos.</p>
            </div>
        </div>
    </div>
</header>