<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1 translate="no">Qué me pongo?</h1>
                <p class="slogan">Una aplicación para maximizar la eficiencia al escoger cómo vestirnos
                    para determinados eventos.</p>
            </div>
        </div>
    </div>
</header>