{{#partial "contenido"}}

<div>
    <h2 class="titulo-pagina">
        Guardarropas:
    </h2>

    <div class="container-fluid">
        <div class="row">
            {{#each guardarropas}}
            <div class="card-deck col-sm-4">
                <div class="card mx-3 my-3">
                    <div class="card-body">
                        <a class="btn btn-info" href="/guardarropas/{{id}}/prendas">
                            <h2>{{nombre}}</h2>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="home">
        <p>También podés ingresar a:</p>
        <ul>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/atuendos">Calificar sugerencias</a></li>
        </ul>
    </div>
</div>

{{/partial}}

{{>layout.hbs}}