{{#partial "contenido"}}

<div>
    <h2>
        Bienvenido!
    </h2>

    <div class="home">
        <p>Desde tu cuenta podés ingresar a las siguientes opciones:</p>
        <ul>
            <li><a href="/guardarropas">Listar guardarropas</a></li>
            <li><a href="/guardarropas">Crear evento</a></li>
            <li><a href="/guardarropas">Ver tu calendario</a></li>
            <li><a href="/guardarropas">Calificar sugerencias</a></li>
        </ul>
    </div>
</div>

{{/partial}}

{{>layout.hbs}}