{{#partial "contenido"}}

<div>
    <h2>
        Bienvenido!
    </h2>

    <div class="home">
        <p>Desde tu cuenta podés ingresar a las siguientes opciones:</p>
        <ul>
            <li><a href="/guardarropas">Listar guardarropas</a></li>
            <li><a href="/form_prendas">Crear prenda</a></li>
            <li><a href="/eventos/creacion">Crear evento</a></li>
            <li><a href="/eventos">Ver tu calendario</a></li>
            <li><a href="/atuendos">Calificar sugerencias</a></li>
            <li><a href="/logout">Cerrar sesi&oacute;n</a></li>
        </ul>
    </div>
</div>

{{/partial}}

{{>layout.hbs}}