<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../login.css">
</head>
<body>
    <h1 class="title">
        Iniciar Sesion
    </h1>

    <form action="/login" method="post">
        <input type="text" class="login-input" name="usuario" placeholder="Ingrese su usuario"/>
        <input type="password" class="login-input" name="contrasenia" placeholder="Ingrese su contraseña"/>
        <input type="submit" class="login-input" value="Iniciar sesion">
    </form>

</body>
</html>